.info_section{
    padding-bottom: 56px;
    background-color:#F7F1EC;
}
.info_content{
    width: 850px;
}
.info_title{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 32px;
}

.info_description{
    font-family: "Open Sans Mixed", sans-serif;
    font-size: 18px;
    line-height: 24px;
}