.feedback_section{
    padding: 100px 0;
    background-color: #353330;
}
.feedback_container{
    text-align: center;
}
.feedback_list{
    display: flex;
}
.feedback_title{
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    font-size: 44px;
    color: #FFFFFF;
}
.client{
    color: #FFFFFF;
    font-family: "Montserrat",sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 16px;
}
.feedback_first_list{
    margin-top: 52px;
    padding-bottom: 72px;
    justify-content: space-between;

}
.feedback_first_list_item{
    width: 350px;
    text-align: left;
}
.clients_feedback{
    font-family: "Open Sans",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #D9D9D9;
}

.feedback_second_list{
    padding-bottom: 72px;
    justify-content: space-around;

}
.feedback_second_list_item{
    width: 520px;
    text-align: left;
}

.more_feedbacks{
    font-family: "Open Sans",sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: underline;
    text-underline-offset: 4px;
    display: inline-block;
    margin: 0 auto;
}
