.footer{
    background-color: #353330;
    color: white;
    padding: 50px 0;
  }
  .footer_description{
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }