
.slider_section {
  padding: 100px 0;
}
.slider_title{
  color: #222222;
  font-family: "Montserrat",sans-serif;
  font-weight: 600;
  font-size: 44px;
}
.swiper-wrapper{
  padding-bottom: 50px;
}
.mySwiper {
  width: 1296px;
  height: 636px;
  margin: 44px auto 0 auto;
  position: relative;
}

.swiper-slide {
  background: #fff;
  height: 250px;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}


